:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(141, 19, 19, 0.87);
  color1: rgba(141, 19, 19, 0.87);
  --color1: #31827c;
  --color2: #95c68f;
  --color3: #f7e9aa;
  --color4: #fc8a80;
  --color5: #fb4f6d;
 


  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

